<div class="register-container">
  <div class="register-box">
    <h1>Register to Budget Manager</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Email" />
      <div class="error" *ngIf="submitted && email?.errors">
        <span *ngIf="email?.errors?.['required']">Email is required</span>
        <span *ngIf="email?.errors?.['email']">Invalid email address</span>
      </div>

      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <div class="error" *ngIf="submitted && password?.errors">
        <span *ngIf="password?.errors?.['required']">Password is required</span>
        <span *ngIf="password?.errors?.['minlength']"
          >Password must be at least 8 characters</span
        >
        <span *ngIf="password?.errors?.['pattern']">
          Password must contain uppercase and lowercase letters, a number, and a
          special character
        </span>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>

      <div class="error" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
