:root {
  --accent-color: #ff4081;
  --accent-color-hover: #d73766;
}

body {
  background-color: #121212;
  color: #E0E0E0;
  font-family: "Fira Code Light", monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
}

